*{
margin: 0px;
padding: 0px;
}
body{
font-family: sans-serif;
}
.navbar-nav{
margin-left: auto;
}
#nav-bar
{
position: sticky;
top: 0;
z-index: 10;
}
.navbar{
background-image: linear-gradient(to right, #a517ba, #5f1782);
padding: 0 !important;
}
.navbar-brand{
height: 60px;
padding-left: 20px;
}
.navbar-brand h2{
padding-top: 5px;
font-weight: 800;
color: #fff;
font-family: cursive;
}
.navbar-nav li{
padding: 0 10;
}
.navbar-nav li a{
color: #fff !important;
font-weight: 600;
float: right;
text-align: left;
}
.navbar-toggler{
outline: none !important;
}

/*-----------------create user-------------------*/

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.container{
position: absolute;
width: 400px;
height: 400px;
margin-top: 100px;
top: 45%;
left: 50%;
font-family: sans-serif;
transform: translate(-50%, -50%);
}
.card{
background-image: linear-gradient(to right, #a517ba, #5f1782);
border-radius: 15px;
}
.card h2{
text-align: center;
margin-top: 15px;
margin-bottom: 10px;
color: #fff;
font-size: 35px;
font-weight: 500;
}
.form-control{
width: 100px;
border-radius: 25px;
padding: 10px;
margin-top: 10px;
padding-left: 50px;
border: none;
}
.card .butt{
width: 140px;
margin-top: 15px;
margin-bottom: 10px;
border: none;
border-radius: 25px;
background-image: linear-gradient(to right, #a517ba, #5f1782);
color: #fff;





















